/* Global CSS */
:root {
    /* NBA Teams Colors For Draft Gradient Backgrounds */
    --atl-grad-start: #FDB927;
    --atl-grad-end: #C8102F;
    --bos-grad-start: #B99553;
    --bos-grad-end: #007A33;
    --brk-grad-start: #000000;
    --brk-grad-end: #FFFFFF;
    --cho-grad-start: #1D1260;
    --cho-grad-end: #00788C;
    --chi-grad-start: #000000;
    --chi-grad-end: #CE1241;
    --cle-grad-start: #041E42;
    --cle-grad-end: #860138;
    --dal-grad-start: #162D50;
    --dal-grad-end: #0064B1;
    --den-grad-start: #0D2440;
    --den-grad-end: #FEC525;
    --det-grad-start: #012D62;
    --det-grad-end: #BE102C;
    --gsw-grad-start: #FFC72D;
    --gsw-grad-end: #1C428A;
    --hou-grad-start: #333333;
    --hou-grad-end: #CE1241;
    --ind-grad-start: #003B6F;
    --ind-grad-end: #F7E300;
    --lac-grad-start: #006BB6;
    --lac-grad-end: #C8102E;
    --lal-grad-start: #552583;
    --lal-grad-end: #F9A01B;
    --mem-grad-start: #12173F;
    --mem-grad-end: #5D76A9;
    --mia-grad-start: #F9A01B;
    --mia-grad-end: #98002E;
    --mil-grad-start: #EEE1C6;
    --mil-grad-end: #00471B;
    --min-grad-start: #78BE1F;
    --min-grad-end: #0C2340;
    --nop-grad-start: #0C2340;
    --nop-grad-end: #85714D;
    --nyk-grad-start: #016BB6;
    --nyk-grad-end: #F58426;
    --okc-grad-start: #007AC1;
    --okc-grad-end: #EE3B25;
    --orl-grad-start: #000000;
    --orl-grad-end: #0D70B2;
    --phi-grad-start: #ED184C;
    --phi-grad-end: #016BB6;
    --pho-grad-start: #1D1260;
    --pho-grad-end: #E56021;
    --por-grad-start: #000000;
    --por-grad-end: #E03A3E;
    --sac-grad-start: #63727A;
    --sac-grad-end: #5A2D81;
    --sas-grad-start: #000000;
    --sas-grad-end: #C4CED4;
    --tor-grad-start: #000000;
    --tor-grad-end: #CE1141;
    --uta-grad-start: #00A9E0;
    --uta-grad-end: #753BBD;
    --was-grad-start: #E31837;
    --was-grad-end: #002B5C;
    --nba-grad-start: #1D428A;
    --nba-grad-end: #FFFFFF;
}

@font-face {
	font-family: 'Ferry';
	src: url('Ferry-Black.eot');
	src: local('Ferry Black'), local('Ferry-Black'),
		url('Ferry-Black.eot?#iefix') format('embedded-opentype'),
		url('Ferry-Black.woff') format('woff'),
		url('Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}