# Environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Scripts generated data
scripts/intermediate/
scripts/output/

# Database files
*.db
*.sql

# Node
node_modules/
dist/
dist-ssr/

# Server
server/updates.md