/* DraftPickCard.css */

.draft-card {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: auto;
  box-sizing: border-box;
  color: white;
  /* border: 3px solid rgba(255, 255, 255, 0.15); */
  --header-height: 60px;

}

/* ---------------- Header ---------------- */

.draft-card-header {
  display: flex;
  min-height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-family: "Ferry", sans-serif;
  position: relative;
  z-index: 2;
}

.selection-number {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.player-meta {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

.player-name {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.player-position {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5)
}

/* ---------------- Team Logos ---------------- */

.team-logos {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 140px;
  height: 140px;
  z-index: 1;
}

.primary-logo {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
}

/* Smaller, offset logo if traded */
.secondary-logo {
  position: absolute;
  bottom: -10px;
  right: -50px;
  width: 50%;
  height: 50%;
  opacity: 0.5;
}

/* ---------------- Player Headshot ---------------- */

.player-headshot-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  top: var(--header-height);
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1;
  overflow: hidden;
}

.player-headshot {
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: bottom right;
  filter: drop-shadow(0 4px 16px rgba(0,0,0,0.4));
}
